<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>生成二维码.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84EE9ECE1C26BF600041575D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84EE9EE71C26BF600041575D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84EE9EF21C26BF600041575D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
